.edit-btn,
.cancel-btn {
  padding: 0.25rem 0.2rem;
  width: 5rem;
  border-radius: 0.25rem;
}
.cancel-btn:hover,
.edit-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cancel-btn i {
  padding-left: 0.5rem;
}
.cancel-btn {
  background-color: red;
}
